In [1]:
#select GPU working %
from tensorflow.compat.v1 import ConfigProto, InteractiveSession

config = ConfigProto()
config.gpu_options.per_process_gpu_memory_fraction = 0.5
config.gpu_options.allow_growth = True
session = InteractiveSession(config = config)

In [2]:
import pandas as pd

df = pd.read_csv("test.csv")
df

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [4]:
y = pd.read_csv("submit.csv")
y

         id  label
0     20800      0
1     20801      1
2     20802      0
3     20803      1
4     20804      1
...     ...    ...
5195  25995      0
5196  25996      1
5197  25997      0
5198  25998      1
5199  25999      0

[5200 rows x 2 columns]

# concate  df and y

In [5]:
test = pd.concat([df,y], axis =1)

In [6]:
test

,id,title,author,text,id,label
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",20800,0
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,20801,1
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,20802,0
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",20803,1
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,20804,1
...,...,...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...,25995,0
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...,25996,1
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...,25997,0
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...,25998,1
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...,25999,0

In [7]:
test = test[["title","label"]]

In [8]:
test

                                                  title  label
0     Specter of Trump Loosens Tongues, if Not Purse...      0
1     Russian warships ready to strike terrorists ne...      1
2     #NoDAPL: Native American Leaders Vow to Stay A...      0
3     Tim Tebow Will Attempt Another Comeback, This ...      1
4                       Keiser Report: Meme Wars (E995)      1
...                                                 ...    ...
5195  The Bangladeshi Traffic Jam That Never Ends - ...      0
5196  John Kasich Signs One Abortion Bill in Ohio bu...      1
5197  California Today: What, Exactly, Is in Your Su...      0
5198  300 US Marines To Be Deployed To Russian Borde...      1
5199  Awkward Sex, Onscreen and Off - The New York T...      0

[5200 rows x 2 columns]

In [9]:
test = test.dropna()

In [10]:
test

                                                  title  label
0     Specter of Trump Loosens Tongues, if Not Purse...      0
1     Russian warships ready to strike terrorists ne...      1
2     #NoDAPL: Native American Leaders Vow to Stay A...      0
3     Tim Tebow Will Attempt Another Comeback, This ...      1
4                       Keiser Report: Meme Wars (E995)      1
...                                                 ...    ...
5195  The Bangladeshi Traffic Jam That Never Ends - ...      0
5196  John Kasich Signs One Abortion Bill in Ohio bu...      1
5197  California Today: What, Exactly, Is in Your Su...      0
5198  300 US Marines To Be Deployed To Russian Borde...      1
5199  Awkward Sex, Onscreen and Off - The New York T...      0

[5078 rows x 2 columns]

In [12]:
X = test["title"]
y = test["label"]

In [13]:
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer

In [15]:
tokenizer_obj = Tokenizer()
tokenizer_obj.fit_on_texts(X)
test_sam = tokenizer_obj.texts_to_sequences(X)
test_sam_pad = pad_sequences(test_sam,maxlen = 30)

In [17]:
# load json and create model
from keras.models import model_from_json
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("best_model.best.hdf5")
print("Loaded model from disk")

Loaded model from disk

In [18]:
a = loaded_model.predict_classes(test_sam_pad)

C:\Users\vaibh\miniconda3\envs\Ai\lib\site-packages\tensorflow\python\keras\engine\sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [25]:
a

array([[0],
       [0],
       [1],
       ...,
       [0],
       [1],
       [0]])

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [21]:
print(classification_report(a,y))

              precision    recall  f1-score   support

           0       0.57      0.74      0.64      1812
           1       0.83      0.69      0.75      3266

    accuracy                           0.71      5078
   macro avg       0.70      0.71      0.70      5078
weighted avg       0.73      0.71      0.71      5078

In [26]:
y

0       0
1       1
2       0
3       1
4       1
       ..
5195    0
5196    1
5197    0
5198    1
5199    0
Name: label, Length: 5078, dtype: int64

In [28]:
y_pred = loaded_model.predict_classes(test_sam_pad, batch_size = 128)

true = 0
for i, y in enumerate(y):
    if y == y_pred[i]:
        true += 1

print('Correct Prediction: {}'.format(true))
print('Wrong Prediction: {}'.format(len(y_pred) - true))
print('Accuracy: {}'.format(true/len(y_pred)*100))

C:\Users\vaibh\miniconda3\envs\Ai\lib\site-packages\tensorflow\python\keras\engine\sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

Correct Prediction: 3598
Wrong Prediction: 1480
Accuracy: 70.85466719180779